.App {
  text-align: center;
}
.conteiner__calendare-block *{
  margin: 0;
}
.conteiner__calendare-block{
  width: 301px;
  text-align: center;
}

.current__calendare-block{
  width: 100%;
  color: white;
}

.current__calendare-block > *:first-child, 
.current__calendare-block > *:last-child{
  background-color: rgb(29, 21, 83);
  padding: 15px 0;
}

.flex-column-block{
  display: flex;
  flex-direction: column
}

.middle-current__calendare-block{
  background-color: rgb(46, 37, 106);
  width: 100%;
  height: 200px;
  justify-content: space-evenly;
}

.middle-current__calendare-block > *:last-child{
  color:rgba(212, 207, 247, 0.732);
}

.conteiner__calendare-block table{
  border-spacing: 0px;
  border-collapse: collapse;
}

.opacity-text{
  opacity: 0.35;
}

.dark-background{
  background-color: #284B72;
}

.ui-datepicker-week-end{
  background-color: #b4cbe5;
}

.ui-datepicker-today{
  background-color: #284B72;
  color: white;
}